.verticalAligner {

}

.verticalAligner:before {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.verticallyCentered {
    vertical-align: middle;
    display: inline-block;
}

.horizontalAligner {
    text-align: center;
}

.horizontallyAligned {
    margin-left: auto;
    margin-right: auto;
}

.viewportHeight{}

